.SideNavBar {
    flex: 1;
    width: 100%;
    padding: 1.5rem 2.7rem;
}

.navWrap {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.logo {
    margin-right: 1rem;
}

.logoWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navItemCol {
    margin-top: 1rem;
    width: 100%;
    align-items: start;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: start;
}

.navItem {
    width: 100%;
    display: flex;
    gap: 0.7rem;
    height: 3rem;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.navTitle,
.icon {
    color: #9297AA;
    font-family: Plus Jakarta Sans;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.iconBox {
    display: flex;
}

.tagsCol {
    margin-top: 1rem;
    width: 100%;
}

.tagTitle {
    margin-bottom: 0.7rem;
    align-items: center;
    display: flex;
    gap: 1rem;
    height: 2rem;
    cursor: pointer;
}

.tagsWrap {
    height: auto;
    overflow-y: auto;
    max-height: 7rem;
}

.tagItem {
    width: 100%;
    display: flex;
    gap: 0.7rem;
    height: 3rem;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.actions {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.actionTitle {
    color: #00D33B;
    font-family: Plus Jakarta Sans;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icon {
    color: #00D33B;
}

.archive {
    color: rgb(255, 117, 117);
    font-size: 0.8rem;
}

.logout {
    bottom: 0px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.logBtn {
    width: 100%;
    cursor: pointer;
    background-color: #ffe8e8;
    height: 2.8rem;
    border: none;
    outline: none;
    display: flex;
    gap: 0.3rem;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: rgb(255, 117, 117);
    border-radius: 10px;
    margin-bottom: 0.3rem;
}

.credits {
    font-size: 0.4rem;
    color: #9297AA;
}